*{
    margin: 0;
    padding:0;
}

body{
    height:104vh;
    width:100%;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: aquamarine;
}

.box{
    height:400px;
    width:400px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    
}
label{
    padding:20px;
    font-size:23px;
}
button{
    margin-left:171px;
    height:30px;
    width:100px;
}
#height{
    height:20px;
    width:200px;
    margin:10px;
    /* gap:20px; */
}

#weight{
    height:20px;
    width:200px;
    margin:10px;
    /* gap:20px; */
}
p{
    padding:10px;
    font-size:20px;
}

#clock{
    height:30px;
    width:200px;
    background-color: rgb(197, 205, 205);
    border-radius:10px;
    text-align:center;
    font-family:sans-serif;
}